.App {
  text-align: center;
}
header{
  background: #323232;
  color: #fff;
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  
}

.crossed {
  text-decoration: line-through;
  color: red;
}

footer{
  bottom: 0;
}